/* CSS Document */

/* General style properties */
body.login_BG {
    background: url(../images/login_BG2.gif) repeat-x top left #FFFFFF;
    margin: 0;
    padding: 0;
}

div.login_BG {
    background: url(../images/login_BG.gif) no-repeat top center;
    height: 70vh; /* Adjusted height */
    padding-top: 50px; /* Adjusted padding */
    display: flex;
    justify-content: center;
    align-items: center;
}

#OClogo {
    background: url(../images/OC_login_logo.png) no-repeat top left;
    width: 117px; /* Adjusted width */
    height: 98px;
  }/* Adjusted height */


#OClogoIE6 {
    background: url(../images/OC_login_logo.gif) no-repeat top left;
    width: 250px; /* Adjusted width */
    height: 80px; /* Adjusted height */
}

.loginBoxes {
    margin-bottom: 50px; /* Adjusted margin */
    display: flex;
    justify-content: center;
}

.loginBoxes td {
    width: 280px; /* Adjusted width */
    vertical-align: top;
    text-align: left;
}

.loginBox_T {
    background: url(../images/login_box_T.png) no-repeat top center;
    height: 8px; /* Adjusted height */
    line-height: 8px; /* Adjusted line height */
    font-size: 1px;
}

.loginBox {
    background: url(../images/login_box_BG.png) no-repeat bottom center;
    padding: 20px; /* Adjusted padding */
}

#loginBox,
#newsBox {
    padding: 6px 20px 30px 20px; /* Adjusted padding */
}

.loginBox form,
.loginBox H1 {
    margin-top: 0;
}

.loginBox li,
.loginBox ul {
    list-style-image: url(../images/bullet.gif);
    margin-left: 7px;
    padding-left: 7px;
}

.loginBox li {
    margin-bottom: 10px; /* Adjusted margin */
}

.footer {
    background-image: url(../images/login_footer_BG.gif);
}
